@font-face {
    font-family: 'outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format(ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format(ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Young Serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
    display: flex;
    height: 250vh;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    object-fit: contain;
    border-radius: 1rem;
}

section, img {
    max-width: 36rem;
    width: 100%;
    height: auto;
}

section {
    margin: 1rem 0;
}

h1 {
    font-family: var(--h1-header-text-family);
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 {
    font-family: var(--h1-header-text-family);
    color: var(--h2-font-color);
    font-size: 1.5rem;
}

p {
    font-family: var(--paragraph-text-family);
    line-height: 1.2;
    font-size: 1rem;
    color: var(--paragraph-text-color);
}

li {
    font-family: var(--paragraph-text-family);
    margin-left: 1rem;
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1rem;
    color: var(--paragraph-text-color);
}

span {
    font-weight: 600;
}

.list-info {
    padding-bottom: 1.5rem;
}


:root {
    --card-background-color: hsl(0, 0%, 100%);
    --body-background-color: hsl(30, 54%, 90%);
    --h1-header-text-family: 'Young Serif';
    --paragraph-text-family: 'outfit';
    --paragraph-text-color:hsl(30, 10%, 34%);
    --h2-font-color:hsl(14, 45%, 36%);
    --mini-header-font-color:hsl(332, 51%, 32%);
    --highlighted-box: hsl(330, 100%, 98%);
}

.wrapper {
    padding: 2rem;
    background-color: var(--card-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.highlighted-box {
    background-color: var(--highlighted-box);
    padding-left: 1rem;
    border-radius: 1rem;
}

.mini-header {
    margin-bottom: 0.5rem;
    color: var(--mini-header-font-color);
    font-family: var(--paragraph-text-family);
    font-size: 1.10rem;
    font-weight: 700;
}
.mini-list {
    margin-left: .5rem;
}

.content-container {
    border-bottom: 1px solid rgb(227, 219, 219);
    margin-bottom: 0;;
}

.Nutrition-subheader {
    padding: 1rem 0;
}
.facts-1,.facts-2,.facts-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgb(227, 219, 219);
}

.facts-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nutri-info,.nutri-value {
    padding: 0.5rem 0 0.5rem 1rem;
}

.nutri-value {
    color: var(--h2-font-color);
    font-weight: 600;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:600px) {
    .wrapper {
        padding: 1rem;
    }

}

@media (max-width:400px) {
    .wrapper {
        padding: .5rem;
    }
    img {
        border-radius: 0;
    }

}

